/* css */

h1 {color: black;
}

h2 {font-size: 30px;}

/* div  {
    background-color:seagreen;} */


.li-frame { 
    border: 2px solid black;
    border-radius: 5px;
    background-color:seagreen;

}





