
/* Style the footer */
footer {
    background-color: #14555A;
    text-align: center;
    color: white;
    height: 6rem;
}

span.logo {
    line-height: 6rem;
    font-size: 25px;    
    height: 4rem;

}

.logo {
    /* text-align: center;
    left: 45%;
    position: absolute; */
}

.footerwrapper {
    /*bottom: 0;
    position: absolute;
    margin-top: -200px;    
    width: 100%; 
    overflow: hidden;
    text-align: center;
    width: 100%;
    background-color: #007272;
    margin-top: 100px; 
    height: 90px;
    height: 10vh; 
    display: flex;
    flex-direction: column;
    min-height: calc(39vh - 0px);
    background-color: #A5E1D2; */
}
