
/* Style the footer */
footer {
    background-color: #14555A;
    text-align: center;
    color: white;
    height: 6rem;
}

span.logo {
    line-height: 6rem;
    font-size: 25px;    
    height: 4rem;

}

.logo {
    /* text-align: center;
    left: 45%;
    position: absolute; */
}

.forceFooterDown {
    min-height: 1050px;
}